/*Thin 100
Extra-light 200
Light 300
Regular 400
Medium 500
Semi-bold 600
Bold 700
Extra-Bold 800
Ultra-bold Black 900*/
@font-face {
  font-family: WorkSans;
  src: url("/css/fonts/WorkSans-Thin.woff2");
  font-weight: 100;
  font-style: normal; }
@font-face {
  font-family: WorkSans;
  src: url("/css/fonts/WorkSans-ExtraLight.woff2");
  font-weight: 200;
  font-style: normal; }
@font-face {
  font-family: WorkSans;
  src: url("/css/fonts/WorkSans-Light.woff2");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: WorkSans;
  src: url("/css/fonts/WorkSans-Regular.woff2");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: WorkSans;
  src: url("/css/fonts/WorkSans-Medium.woff2");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: WorkSans;
  src: url("/css/fonts/WorkSans-SemiBold.woff2");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: WorkSans;
  src: url("/css/fonts/WorkSans-Bold.woff2");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: WorkSans;
  src: url("/css/fonts/WorkSans-ExtraBold.woff2");
  font-weight: 800;
  font-style: normal; }
@font-face {
  font-family: WorkSans;
  src: url("/css/fonts/WorkSans-Black.woff2");
  font-weight: 900;
  font-style: normal; }
